# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Paid Udemy Course\Udemy Courses\Spring MVC and the Web Layer -Module 5\module05-examples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
